* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --warmblack: #201E1C;
    --gradblack: #000000;
    --gradgrey: #444444;
    --descgrey: #d9d9d9;
    --yellow: #ffd966;
    --white: #ffffff;
}
ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
}
li{
    font-size: 2rem;
    font-weight: bold;
}
a{
    cursor: pointer;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: var(--gradblack);
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.main-background{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    background-color: var(--yellow);
}
.main-black-box-decoration{
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 25vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(to bottom,var(--gradgrey) 10%,var(--gradblack) 50%);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0,0.5);
}
.main-pilomex-logo-container{
    float: right;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 39vh;
    width: 40%;
    height: max-content;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.3);
}
.main-pilomex-logo{
    position: relative;
    margin: auto;
    padding-top: 5px;
    min-width: 138px;
    max-width: 300px;
    height: 22vh;
}
.main-profile{
    position: relative;
    left: 20vh;
    top: 10vh;
    width: 30%;
    height: 80vh;
    background-color: orange;
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.main-profile-photo{
    position: absolute;
    top: 0px;
    width: 100%;
    height: max-content;
    background-color:  var(--warmblack);
    border-style: solid;
    border-width: 5px;
    border-color: var(--warmblack);
}
.main-profile-description{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--descgrey);
    border-right: 2px solid var(--warmblack);
    border-left: 2px solid var(--warmblack);
    border-bottom: 2px solid var(--warmblack);
    overflow: hidden;
}
.main-profile-description p{
    font-size: 2.4rem;
    text-align: center;
}
.main-contact{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 150px;
    bottom: 40px;
    padding: 4px 0px;
    padding-left: 10px;
    margin: 10px;
    width: 50vh;
    height: 20vh;
    color: var(--descgrey);
    background-color: var(--gradgrey);
    border-radius: 5px;
}
a:link{
    color: var(--descgrey);   
}
a:visited{
    color: var(--descgrey);
}
a:hover{
    color: var(--descgrey);
}
